/* ===================================Common CSS====================================== */
:root {
    --dmSans: "DM Sans", serif;

    --blackColor: rgba(38, 38, 38, 1);
    --whiteColor: rgba(255, 255, 255, 1);
    --creamColor: rgba(245, 245, 243, 1);
    --lightTextColor: rgba(109, 109, 109, 1);
    --greyTextColor: rgba(118, 118, 118, 1); 
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

div,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
section {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: center;
}

html {
    scroll-behavior: smooth;
}

/* ===================================Common CSS====================================== */



/* ===================================Navbar CSS====================================== */
#navbarSection{
    padding: 31px 0;
    background-color: var(--whiteColor);
}
.customNavMenu{
    display: flex;
    gap: 40px;
}
.customNavMenu li a{
    font-family: var(--dmSans);
    font-size: 14px;
    line-height: 18.23px;
    font-weight: 400;
    color: var(--greyTextColor);
    transition: 0.5s ease-in-out;
}
.customNavMenu li a:hover{
    font-weight: 700;
    color: var(--blackColor);
}
/* ===================================Navbar CSS====================================== */



/* ===================================Category CSS====================================== */
#category{
    padding: 25px 0;
    background-color: var(--creamColor);
}

.categoryWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categoryWrapperSortList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.categoryWrapperSortList__title{
    font-family: var(--dmSans);
    font-size: 14px;
    line-height: 18.23px;
    font-weight: 400;
    color: var(--blackColor);
}
.categoryWrapperSearchArea{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.categoryWrapperSearchArea__box{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 400px;
    text-align: start;
    border: none;
}
.categoryWrapperSearchArea__icon {
    position: absolute;
    top: 19px;
    right: 16px;
    font-size: 20px;
}
.categoryWrapperSearchArea__box::placeholder{
    font-family: var(--dmSans);
    font-size: 14px;
    line-height: 18.23px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(196, 196, 196, 1);
    width: 100%;
}
.categoryWrapperBuyer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;
}

.category--icon{
    color: var(--blackColor);
}
/* ===================================Category CSS====================================== */



/* ===================================Hero CSS====================================== */
#hero{
    position: relative;
    padding-top: 201px;
    padding-bottom: 148px;
}

.overlayBackround{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
}

.heroWrapper{
    display: flex;
    align-items: center;
    gap: 111px;
}
.heroWrapperNavigator{
    position: relative;
    font-family: var(--dmSans);
    font-weight: 400;
    font-size: 10px;
    line-height: 13.02px;
}

.heroWrapperNavigator::before{
    position: absolute;
    content: '';
    top: 0;
    right: -10px;
    width: 2px;
    height: 120px;
    background-color: var(--whiteColor);
}
.heroWrapperNavigator::after{
    position: absolute;
    content: '';
    top: 0;
    right: -10px;
    width: 2px;
    height: 30px;
    background-color: var(--blackColor);
}

.heroWrapperContent__title{
    font-family: var(--dmSans);
    font-weight: 700;
    font-size: 49px;
    line-height: 63.8px;
    color: var(--blackColor);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 33px;
}

.heroWrapperContent__summary{
    font-family: var(--dmSans);
    font-weight: 400;
    font-size: 16px;
    line-height: 20.83px;
    color: var(--lightTextColor);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.summary--bold{
    font-weight: 700;
    font-size: 40px;
    line-height: 52.08px;
    color: var(--blackColor);
    vertical-align: middle;
    margin: 0 8px;
}

.heroWrapperContent__btn{
    padding: 16px 59px;
    border: none;
    background-color: var(--blackColor);
    color: var(--whiteColor);
    font-family: var(--dmSans);
    font-size: 14px;
    line-height: 18.23px;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 49px;
    transition: 0.5s ease-in-out;
}

.heroWrapperContent__btn:hover{
    background-color: var(--greyTextColor);
    color: var(--blackColor);
}


/* ===================================Hero CSS====================================== */


/* ===================================Sale CSS====================================== */
#salePart {
    background-color: var(--whiteColor);
    padding: 22px 0;
}

.salePartwarranty {
    display: flex;

}

.salePartwarranty__summary {
    font-size: 16px;
    font-family: var(--dmSans);
    font-weight: 400;
    color: #6D6D6D;
    padding-left: 16px;
}

.salePartshipping {
    display: flex;
}

.salePartshipping__img {
    padding-left: 130px;
}

.salePartshipping_summary {
    font-size: 16px;
    font-family: var(--dmSans);
    font-weight: 400;
    color: #6D6D6D;
    padding-left: 15px;
}

.salePartreturn {
    display: flex;

}

.salePartreturn__icon {
    padding-left: 180px;
}

.salePartreturn__summary {
    font-size: 16px;
    font-family: var(--dmSans);
    font-weight: 400;
    color: #6D6D6D;
    padding-left: 15px;
}

/* =============sale image part css========= */
.salepartBottom {
    padding-top: 174px;
    padding-bottom: 128px;
}

.phonesaleImg {
    width: 780px;
    height: 780px;
    object-fit: cover;
}

.phonesaleImg2 {
    width: 790px;
    height: 370px;
    object-fit: cover;
    padding-bottom: 100px;

}

.phonesaleImg3 {
    width: 790px;
    height: 370px;
    object-fit: cover;
}

.salepartBottomLeft {
    cursor: pointer;
}

.salepartBottomLeft:hover .overlay {
    left: 0;
    top: 0;
    opacity: 1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-image: linear-gradient(to bottom, #1c1e534e, rgba(28, 30, 83, 0.515));
    padding-left: 65px;
    padding-top: 400px;
    opacity: 0;
    transition: all linear .6s;
    -webkit-transition: all linear .6s;
    -moz-transition: all linear .6s;
    -ms-transition: all linear .6s;
    -o-transition: all linear .6s;
}

.overlaysalepartHeading {
    font-size: 40px;
    font-family: var(--dmSans);
    font-weight: 700;
    color: #262626;
}

.overlaysalepartContent {
    display: flex;
    align-items: center;
    padding-bottom: 35px;
}

.overlaysalepartContent__title {
    font-size: 16px;
    font-family: var(--dmSans);
    font-weight: 400;
    color: #262626;
    opacity: 70%;
}

.overlaysalepartContent__number {
    font-size: 40px;
    font-family: var(--dmSans);
    font-weight: 700;
    color: #262626;
    padding-left: 12px;
    padding-right: 12px;
}

.overlaysalepartContent__summary {
    font-size: 16px;
    font-family: var(--dmSans);
    font-weight: 400;
    color: #262626;
    opacity: 70%;
}

.overlaysalepart__button {
    font-size: 14px;
    font-family: var(--dmSans);
    font-weight: 700;
    border: none;
    color: #FFFFFF;
    background-color: var(--blackColor);
    padding: 16px 57px;
}

.salepartBottomright:hover .overlayRight {
    left: 0;
    top: 0;
    opacity: 1;
}

.overlayRight {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #1c1e534e, rgba(28, 30, 83, 0.515));
    left: 50%;
    top: 0;
    padding-left: 30px;
    padding-top: 66px;
    opacity: 0;
    transition: all linear .6s;
    -webkit-transition: all linear .6s;
    -moz-transition: all linear .6s;
    -ms-transition: all linear .6s;
    -o-transition: all linear .6s;
}

/* ===================================Sale CSS====================================== */



/* ===================================NewArrivals CSS====================================== */

.NewArrivals{
    padding: 100px 0;
    background-color: var(--whiteColor);
}
.NewArrivalsTopTitleWrapper__title{
    font-size: 38px;
    font-weight: 700;
    line-height: 51px;
    font-family: var(--dmSans);
    color: var(--blackColor);
}

.NewArrivals__card{
    max-width: 376px;
    max-height: 376px;
    position: relative;
}

.NewArrivals__cardTextTitle{
    font-size: 18px;
    font-weight:700;
    line-height: 26px;
    font-family: var(--dmSans);
    color: var(--blackColor);
}

.NewArrivals__cardTextPrice{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--greyTextColor);
    font-family: var(--dmSans);

}

.NewArrivals__cardTextColor{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: var(--dmSans);
    color: var(--greyTextColor);
}

.OverlayTop{
    width: 100%;
    height: 120px;
    background-color:transparent;
    top: 0;
    left: 0;
    position: absolute;
}

.OverlayTopValueWrapper{
    max-width: 92px;
    max-height: 35px;
    background-color: var(--blackColor);
    top: 10%;
    left: 10%;
    position: absolute;
}
.OverlayTopValue{
    color: var(--whiteColor);
    padding: 5px 33px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    font-family: var(--dmSans);
}

.OverlayBottom{
    width: 100%;
    height: 50%;
    background-color:var(--whiteColor);
    position: absolute;
    left: 0;
    bottom: -50%;
    transition: ease-in-out .3s;
    visibility: hidden;
}

.NewArrivals__card:hover .OverlayBottom{
    bottom: 0;
    visibility: visible;
}

.OverlayBottom_Text{
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        color: var(--greyTextColor);
}

.OverlayBottom_Text:hover{
    color: var(--blackColor);
    font-weight: 700;
}

.OverlayBottomContentWrapper{
    padding-top: 10%;
    padding-right: 16px;
    
}

i[class="fa-sharp fa-solid fa-heart"],
i[class="fa-solid fa-rotate"],
i[class="fa-sharp fa-solid fa-cart-shopping"]

{
    color: var(--blackColor);
}

.NewArrivalsCardWrapperFull{
    row-gap: 150px;
}


.NewArrivalsTopTitleWrapper{
    padding-bottom: 70px;
}



/* ===================================NewArrivals CSS====================================== */



/* ===================================PhoneOfTheYear CSS====================================== */
.PhoneOfTheYearContent_overlay{
  
    width: 50%;
    height: 100%;
    position:absolute;
    background-color: transparent;
    top: 0px;
    transition: ease-in-out .3s;
    visibility: visible;
    padding-left:42%;
}



.PhoneOfTheYearContent{
    display: flex;
    flex-direction: column;
    row-gap: 50px;

}



.PhoneOfTheYearImageWrapper{
    position: relative;
}
  
.PhoneOfTheYear_title{ 

    font-family: var(--dmSans);
    font-size: 39px;
    font-weight:700;
    line-height: 51px;
    color:var(--blackColor);
    width: 330px;
    height: 51px;


}

.PhoneOfTheYear_summary{

    font-family: var(--dmSans);
    font-size: 16px;
    font-weight:400;
    line-height: 30px;
    color:var(--lightTextColor);
    width: 510.47px;
    height: 60px;

}

.PhoneOfTheYear_btn{

    width: 184.81px;
    height: 50px;
    background-color: var(--blackColor);
    color: var(--whiteColor);


}

/* ===================================PhoneOfTheYear CSS====================================== */



/* ===================================SpecialOffers CSS====================================== */
.SpecialOffers{
    padding: 100px 0;
    
}
.SpecialOffersTopTitle__text{
    display: flex;
    align-items: start;


}


.ImageCard{
   max-width:376px;
   max-height:376px;
   position: relative;
}


.Text{
    
    font-size: 39px;
    font-family:var(--dmSans);
    font-weight: 700;
    line-height: 51px;
}

.ImageCardContent_text{
    font-family: var(--dmSans);
    font-size: 20px;
    font-weight:700;
    line-height: 26px;
    color:var(--blackColor);
}

.ImageCardContent_price{

    font-family: var(--dmSans);
    font-size: 16px;
    font-weight:400;
    line-height: 30px;
    color:var(--greyTextColor);

}

.ImageCardContent_color{
   
    font-family: var(--dmSans);
    font-size: 16px;
    font-weight:400;
    line-height: 30px;
    color:var(--greyTextColor);

}

.overlay_content{
    width: 91.9px;
    height: 35px;
    background-color: var(--blackColor);
    color:var(--whiteColor);
   

}

.overlay{
    width: 100%;
    height: 50%;
    position:absolute;
    background-color: transparent;
    top: 0px;
    left: 0px;
    transition: ease-in-out .3s;
    visibility: visible;
    padding-top: 20px;
    padding-left:20px;
}
/* ===================================SpecialOffers CSS====================================== */



/* ===================================Footer CSS====================================== */
footer{
    padding: 128px 0;
    background-color: #FFFFFF;
}
.MinTilte{
    size: 16px;
    font-weight: 700;
    font-family: var(--dmSans);
    line-height: 23px;
}
.TitleList__from{
    color: var(--blackColor);
}
.TitleList{
   padding-left: 0;
   
}
.SubTitle{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--dmSans);
    line-height: 23px;
}
.Summary{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--dmSans);
    line-height: 23px;
    margin-top:10px;
}
.SubSummary{
justify-self: start;
font-size: 16px;
font-weight: 400;
font-family: var(--dmSans);
    
}
.FooterIcon{
    display: flex;
    column-gap: 10px;
    padding-left: 0;
}

/* ===================================Footer CSS====================================== */